<div style="background-color: dimgray; height: max-content">
  <app-header-toolbar></app-header-toolbar>
  <div class="component">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Address: {{this.pubAddress}}
        </mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div class="component">
    <app-signature (pubAddressEvent)="pubAddressEventHandler($event)"></app-signature>
  </div>

  <div class="component">
    <app-star-form></app-star-form>
  </div>

</div>

