<mat-card>
    <mat-card-header>
        <mat-card-title>
            Signature
        </mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-card>
            <h3>
                <b>Message to Sign</b>
            </h3>
            <mat-form-field appearance="outline">
                <mat-label>Requested Signature</mat-label>
                <input matInput placeholder="request for meg to sign" value="{{requested_sig | async}}" style="width: 100%" readonly>
            </mat-form-field>

            <h3>
                <b>Sign Message</b>
            </h3>
            <mat-form-field appearance="outline">
                <mat-label>Message Signed</mat-label>
                <input matInput placeholder="Sign msg" value="{{signature}}" style="width: 100%" readonly>
            </mat-form-field>
            <h5>You have 5 minutes from when msg was signed to submit it</h5>

        </mat-card>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="requestSignature()">
            Request Msg
        </button>

        <button mat-raised-button (click)="signMsg()">
            Sign Message
        </button>
    </mat-card-actions>
</mat-card>
